[options]
        logfile = /var/log/knockd.log
        interface = eth1
[openSSH]
        sequence = 7000,3000,9000
        seq_timeout = 10
        tcpflags = syn
        Start_command = /sbin/iptables -I INPUT -s %IP% -p tcp --dport 22 -j ACCEPT
        cmd_timeout= 10
        Stop_command = /sbin/iptables -D INPUT -s %IP% -p tcp --dport 22 -j ACCEPT
      

