[Unit]
Description=Borg Backup

[Service]
Type=oneshot
Environment="BORG_PASSPHRASE=123"
Environment=REPO=borg@192.168.11.160:/var/backup/
Environment=BACKUP_TARGET=/etc
ExecStart=/bin/borg create --stats --list \
    ${REPO}::etc-{now:%%Y-%%m-%%d_%%H:%%M:%%S} ${BACKUP_TARGET}


