:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [26:2064]
:OUTPUT ACCEPT [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i eth0 -p tcp -m conntrack --ctstate INVALID -j DROP
-A INPUT -i lo -p tcp -j ACCEPT
-A INPUT -p udp -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -p tcp -m tcp --dport 22 -j ACCEPT
-A PREROUTING -p tcp -i eth0 --dport 80 -j DNAT --destination 192.168.255.14 
-A OUTPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A OUTPUT -p tcp -m multiport --dports 80,8080,53 -j ACCEPT
-A OUTPUT -o lo -j ACCEPT
-A OUTPUT -p udp -j ACCEPT
-A OUTPUT -p icmp -j ACCEPT
-A OUTPUT -j DROP 

